<ul class="entryunit__controls controls-entryunit">
{{#items}}
    <li class="controls-entryunit__item controls-entryunit__item--{{id}} {{class}}">
        <a href="{{{url}}}" class="controls-entryunit__link">

            <span class="controls-entryunit__icon">
                <svg class="svgicon flaticon flaticon--{{id}}"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--{{id}}"></svg>
            </span>

            <span class="controls-entryunit__tooltip">{{{title}}}</span>
        </a>
    </li>
{{/items}}
</ul>
