<ul class="entryunit__actions actions-entryunit">
    <li class="actions-entryunit__item actions-entryunit__item--comments">
        <a target="_self" href="http://mi3ch.livejournal.com/2665075.html#comments">

            <svg class="svgicon flaticon flaticon--comment-view"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--comment-view"></svg>

            <span class="actions-entryunit__text ">6</span>
        </a>
    </li>
    <li class="actions-entryunit__item actions-entryunit__item--reply">
        <a target="_self" href="http://mi3ch.livejournal.com/2665075.html?mode=reply#add_comment">

            <svg class="svgicon flaticon flaticon--comment-add"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--comment-add"></svg>

            <span class="actions-entryunit__text ">Add comment</span>
        </a>
    </li>
</ul>