<menu class="entryunit-controls">
    <ul class="entryunit-controls-items">

        <li class="entryunit-controls-item entryunit-controls-item-check">
            <a href="javasctipt:void(0)">

                <svg class="svgicon flaticon flaticon--check"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--check"></svg>

                <span class="entryunit-controls-tooltip">Отметить как прочитанное</span>
            </a>
        </li>

        <li class="entryunit-controls-item entryunit-controls-item-js-lj-hide">
            <a href="javasctipt:void(0)">

                <svg class="svgicon flaticon flaticon--hide"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--hide"></svg>

                <span class="entryunit-controls-tooltip">Скрыть автора из рейтинга</span>
            </a>
        </li>

        <li class="entryunit-controls-item entryunit-controls-item-delete-repost">
            <a href="http://www.livejournal.com/tools/memadd.bml?journal=lj_releases&amp;itemid=89249">

                <svg class="svgicon flaticon flaticon--delete-repost"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--delete-repost"></svg>

                <span class="entryunit-controls-tooltip ng-binding">Удалить репост</span>
            </a>
        </li>

        <li class="entryunit-controls-item entryunit-controls-item-favorite">
            <a href="http://www.livejournal.com/tools/memadd.bml?journal=lj_releases&amp;itemid=89249">

                <svg class="svgicon flaticon flaticon--favorite"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--favorite"></svg>

                <span class="entryunit-controls-tooltip ng-binding">Добавить в избранное</span>
            </a>
        </li>

        <li class="entryunit-controls-item entryunit-controls-item-js-lj-share">
            <a href="javasctipt:void(0)">

                <svg class="svgicon flaticon flaticon--share"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--share"></svg>

                <span class="entryunit-controls-tooltip">Поделиться</span>
            </a>
        </li>

        <li class="entryunit-controls-item entryunit-controls-item-track">
            <a href="http://www.livejournal.com/manage/subscriptions/entry.bml?journal=lj_releases&amp;amp;itemid=89249">

                <svg class="svgicon flaticon flaticon--track"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--track"></svg>

                <span class="entryunit-controls-tooltip">Отслеживать</span>
            </a>
        </li>

        <li class="entryunit-controls-item entryunit-controls-item-flag">
            <a href="http://www.livejournal.com/manage/subscriptions/entry.bml?journal=lj_releases&amp;amp;itemid=89249">

                <svg class="svgicon flaticon flaticon--flag"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--flag"></svg>

                <span class="entryunit-controls-tooltip">Пожаловаться</span>
            </a>
        </li>

    </ul>
</menu>