<div class="entryunit__actions actions-entryunit">
    <ul class="actions-entryunit__items">
        <li class="actions-entryunit__item actions-entryunit__item--comments">
            <a target="_self" href="http://mi3ch.livejournal.com/2665075.html#comments">

                <svg class="svgicon flaticon flaticon--comments-read"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--comments-read"></svg>

                <span class="actions-entryunit__text ">6</span>
            </a>
        </li>
        <li class="actions-entryunit__item actions-entryunit__item--reply">
            <a target="_self" href="http://mi3ch.livejournal.com/2665075.html?mode=reply#add_comment">

                <svg class="svgicon flaticon flaticon--comments-add"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--comments-add"></svg>

                <span class="actions-entryunit__text ">Add comment</span>
            </a>
        </li>
    </ul>
</div>