<header class="entryunit__header">
    <span class="entryunit__position">{{{position}}}</span>
    <span class="entryunit__userpic">{{{userpic}}}</span>
    <div class="b-entryunit-meta">
        <ul class="b-entryunit-meta-items">
            <li class="b-entryunit-meta-item">{{{promo}}}</li>
            <li class="b-entryunit-meta-item">{{{recomend}}}</li>
            <li class="b-entryunit-meta-item">{{{user}}}</li>
            <li class="b-entryunit-meta-item">{{{comm}}}</li>
            <li class="b-entryunit-meta-item">{{{tocommunity}}}</li>
            <li class="b-entryunit-meta-item">{{{date}}}</li>
            <li class="b-entryunit-meta-item">{{{stats}}}</li>
            <li class="b-entryunit-meta-item">{{{headercomments}}}</li>
            <li class="b-entryunit-meta-item">{{{headerreply}}}</li>
        </ul>
    </div>
    <span class="entryunit__title">{{{secure}}}</span>
    <span class="entryunit__title">{{{title}}}</span>
</header>