{{{userpic}}}
<div class="entryunit-meta">
    <ul class="entryunit-meta-items">
        <li class="entryunit-meta-item">{{{position}}}</li>
        <li class="entryunit-meta-item">{{{promo}}}</li>
        <li class="entryunit-meta-item">{{{recomend}}}</li>
        <li class="entryunit-meta-item">{{{user}}}</li>
        <li class="entryunit-meta-item">{{{comm}}}</li>
        <li class="entryunit-meta-item">{{{tocommunity}}}</li>
        <li class="entryunit-meta-item">{{{date}}}</li>
        <li class="entryunit-meta-item">{{{stats}}}</li>
        <li class="entryunit-meta-item">{{{headercomments}}}</li>
        <li class="entryunit-meta-item">{{{headerreply}}}</li>
    </ul>
</div>