{{{author--userpic}}}
<div class="entryunit__meta meta-entryunit">
    <ul class="meta-entryunit__items">
        <li class="meta-entryunit__item">{{{position}}}</li>
        <li class="meta-entryunit__item">{{{labels}}}</li>
        <li class="meta-entryunit__item">{{{author--user}}}</li>
        <li class="meta-entryunit__item">{{{author--comm}}}</li>
        <li class="meta-entryunit__item">{{{author--tocomm}}}</li>
        <li class="meta-entryunit__item">{{{date}}}</li>
        <li class="meta-entryunit__item">{{{stats}}}</li>
        <li class="meta-entryunit__item">{{{headercomments}}}</li>
        <li class="meta-entryunit__item">{{{headerreply}}}</li>
    </ul>
</div>