<ul class="entryunit__metainfo">
    <li class="b-lenta-metaitem entryunit__mood">
        <span class="b-lenta-meta-label b-lenta-metatoggle-target">Настроение</span>
        <span class="b-lenta-meta-content">creative</span>
    </li>
    <li class="b-lenta-metaitem entryunit__tags">
        <span class="b-lenta-meta-label
    b-lenta-metatoggle-target">Метки (<a href="http://www.livejournal.com/edittags.bml?journal=layouts_ru&amp;itemid=521188">редактировать</a>):</span>
        <a class="b-lenta-tag b-lenta-meta-content" target="_self" href="http://layouts-ru.livejournal.com/tag/стиль: expressive">стиль: expressive</a>
        <span>,</span>
        <a class="b-lenta-tag b-lenta-meta-content" target="_self" href="http://layouts-ru.livejournal.com/tag/цвет: бежевый">цвет: бежевый</a>
        <span>,</span>
        <a class="b-lenta-tag b-lenta-meta-content" target="_self" href="http://layouts-ru.livejournal.com/tag/цвет: разноцветный">цвет: разноцветный</a>
    </li>
</ul>