<ul class="entryunit-nav-list">
    <li class="entryunit-nav-item entryunit-nav-item-comments">
        <a ng-href="http://mi3ch.livejournal.com/2665075.html#comments" target="_self" href="http://mi3ch.livejournal.com/2665075.html#comments">
            <span class="entryunit-nav-item-comments-icon entryunit-nav-item-icon">
                <svg class="svgicon">
                    <use xlink:href="#fi-comment-view"></use>
                </svg>
            </span>
            <span class="entryunit-nav-item-comments-text entryunit-nav-item-text ">6</span>
        </a>
    </li>
    <li class="entryunit-nav-item entryunit-nav-item-reply">
        <a target="_self" href="http://mi3ch.livejournal.com/2665075.html?mode=reply#add_comment">
            <span class="entryunit-nav-item-reply-icon entryunit-nav-item-icon">
                <svg class="svgicon">
                    <use xlink:href="#fi-comment-add"></use>
                </svg>
            </span>
            <span class=" entryunit-nav-item-reply-text entryunit-nav-item-text ">Add comment</span>
        </a>
    </li>
</ul>

<!-- {{#links}}
    <a href="{{{url}}}">{{{text}}}</a>
{{/links}} -->