<ul class="entryunit-actions">
    <li class="entryunit-actions-item entryunit-actions-item-comments">
        <a target="_self" href="http://mi3ch.livejournal.com/2665075.html#comments">

            <svg class="svgicon flaticon flaticon--comment-view"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--comment-view"></svg>

            <span class="entryunit-actions-item-text ">6</span>
        </a>
    </li>
    <li class="entryunit-actions-item entryunit-actions-item-reply">
        <a target="_self" href="http://mi3ch.livejournal.com/2665075.html?mode=reply#add_comment">

            <svg class="svgicon flaticon flaticon--comment-add"  style="pointer-events: none; visibility: hidden;"><use xlink:href="#flaticon--comment-add"></svg>

            <span class="entryunit-actions-item-text ">Add comment</span>
        </a>
    </li>
</ul>

<!-- {{#links}}
    <a href="{{{url}}}">{{{text}}}</a>
{{/links}} -->