<div class="entryunit__likes likes-entryunit">

    <!-- share button -->
    <div class="likes-entryunit__item likes-entryunit__item--share">
        <a class="b-flatsocial
                    b-flatsocial-share
                     ng-scope" href="javascript:void(0);" lj-share="{
                    url:   item.url,
                    title: item.subject,
                    text:  item.lead
                }" lj-share-services-exclude="'facebook,twitter,google'"><!--
            --><span title="Share" class="b-flatsocial-name">Share</span><!--
            --></a>
    </div>

    <!-- share buttons -->
    <div class="likes-entryunit__item likes-entryunit__item--other" data-url="http://foto-trip.livejournal.com/4676278.html" data-title="Сарона - старинное поселение темплеров в самом центре Тель-Авива" data-hashtags="" data-services="facebook,twitter,google" data-text="Поскольку рассказ об одном дне из моей жизни неожиданно получился длинным, я решил разделить его на несколько частей. В этот раз я расскажу вам о своей прогулке в недавно отреставрированный квартал Сарона - бывшее поселение темплеров в самом центре Белого города, долгие годы стоявшее заброшенным. Теперь там почти рай.

..." data-journal="5240142" data-ditemid="4676278" lj-screenable="social:likes:parse">
        <div class="
        lj-like-item
        lj-like-item-facebook
        "><!--
            --><a href="javascript:void(0);" class="
            b-flatsocial
            b-flatsocial-facebook
            "><!--
            --><span class="b-flatsocial-name" title="Facebook">Facebook</span><!--
            --><span class="b-flatsocial-counter">0</span><!--
            --></a>
        </div><!--
            --><div class="
        lj-like-item
        lj-like-item-twitter
        ">
            <a href="javascript:void(0);" class="
            b-flatsocial
            b-flatsocial-twitter
            "><!--
            --><span class="b-flatsocial-name" title="Twitter">Twitter</span><!--
            --><span class="b-flatsocial-counter">0</span><!--
            --></a>
        </div><!--
            --><div class="
        lj-like-item
        lj-like-item-google
        "><!--
            --><a href="javascript:void(0);" class="
            b-flatsocial
            b-flatsocial-google
            b-flatsocial-button
            "><!--
            --><span class="b-flatsocial-name" title="Google+">Google+</span><!--
            --><span class="b-flatsocial-counter">0</span><!--
            --></a>
        </div>
    </div>
</div>
