.flaticon {
    fill: #7A9199;
    }
.ie8 .flaticon {
    background-image: url(flaticon.png);
    }
.flaticon--arrow-right {
    width: 30px;
    height: 56px;
    background-position: 0 0;
    fill: #7A9199;
    }
.flaticon--arrow-left {
    width: 30px;
    height: 56px;
    background-position: -40px 0;
    fill: #7A9199;
    }
.flaticon--spinner {
    width: 32px;
    height: 32px;
    background-position: -80px 0;
    fill: #7A9199;
    }
.flaticon--post {
    width: 30px;
    height: 30px;
    background-position: 0 -66px;
    fill: #7A9199;
    }
.flaticon--upload-image {
    width: 30px;
    height: 30px;
    background-position: -40px -66px;
    fill: #7A9199;
    }
.flaticon--cross-bold {
    width: 30px;
    height: 30px;
    background-position: -80px -66px;
    fill: #7A9199;
    }
.flaticon--security-protected {
    width: 22px;
    height: 29px;
    background-position: -122px 0;
    fill: #7A9199;
    }
.flaticon--settings {
    width: 27px;
    height: 27px;
    background-position: 0 -106px;
    fill: #7A9199;
    }
.flaticon--logout {
    width: 30px;
    height: 27px;
    background-position: -37px -106px;
    fill: #7A9199;
    }
.flaticon--security-custom {
    width: 30px;
    height: 24px;
    background-position: -77px -106px;
    fill: #7A9199;
    }
.flaticon--comments-add {
    width: 30px;
    height: 24px;
    background-position: -154px 0;
    fill: #7A9199;
    }
.flaticon--comments-read {
    width: 30px;
    height: 24px;
    background-position: -154px -34px;
    fill: #7A9199;
    }
.flaticon--menu {
    width: 25px;
    height: 24px;
    background-position: -154px -68px;
    fill: #7A9199;
    }
.flaticon--arrow-up {
    width: 16px;
    height: 23px;
    background-position: -154px -102px;
    fill: #7A9199;
    }
.flaticon--arrow-down {
    width: 16px;
    height: 23px;
    background-position: -122px -39px;
    fill: #7A9199;
    }
.flaticon--sticky {
    width: 22px;
    height: 22px;
    background-position: -122px -72px;
    fill: #7A9199;
    }
.flaticon--repost {
    width: 22px;
    height: 21px;
    background-position: -117px -106px;
    fill: #7A9199;
    }
.flaticon--security-private {
    width: 24px;
    height: 20px;
    background-position: 0 -143px;
    fill: #7A9199;
    }
.flaticon--discovery {
    width: 36px;
    height: 20px;
    background-position: -34px -143px;
    fill: #39BF71;
    }
.flaticon--share {
    width: 16px;
    height: 18px;
    background-position: -80px -143px;
    fill: #7A9199;
    }
.flaticon--delete_repost {
    width: 16px;
    height: 18px;
    background-position: -106px -143px;
    fill: #7A9199;
    }
.flaticon--edit_entry {
    width: 16px;
    height: 17px;
    background-position: -132px -143px;
    fill: #7A9199;
    }
.flaticon--flag {
    width: 16px;
    height: 17px;
    background-position: -158px -143px;
    fill: #7A9199;
    }
.flaticon--arrow-right-bold {
    width: 10px;
    height: 16px;
    background-position: -194px 0;
    fill: #7A9199;
    }
.flaticon--hide {
    width: 16px;
    height: 16px;
    background-position: 0 -173px;
    fill: #7A9199;
    }
.flaticon--cross {
    width: 16px;
    height: 16px;
    background-position: -26px -173px;
    fill: #7A9199;
    }
.flaticon--unwatch_comments {
    width: 16px;
    height: 16px;
    background-position: -52px -173px;
    fill: #7A9199;
    }
.flaticon--arrow-left-bold {
    width: 10px;
    height: 16px;
    background-position: -194px -26px;
    fill: #7A9199;
    }
.flaticon--comments-bold {
    width: 17px;
    height: 16px;
    background-position: -78px -173px;
    fill: #7A9199;
    }
.flaticon--watch_comments {
    width: 16px;
    height: 16px;
    background-position: -105px -173px;
    fill: #7A9199;
    }
.flaticon--mem_add {
    width: 16px;
    height: 15px;
    background-position: -131px -173px;
    fill: #7A9199;
    }
.flaticon--check {
    width: 16px;
    height: 11px;
    background-position: -80px -42px;
    fill: #7A9199;
    }
.flaticon--arrow-bottom-bold {
    width: 10px;
    height: 7px;
    background-position: -194px -52px;
    fill: #7A9199;
    }
