.flaticon {
    fill: #7A9199;
    }
.ie8 .flaticon {
    background-image: url(flaticon.png);
    }
.flaticon--arrow-right {
    width: 30px;
    height: 56px;
    background-position: 0 0;
    }
.flaticon--arrow-left {
    width: 30px;
    height: 56px;
    background-position: -40px 0;
    }
.flaticon--security-friends {
    width: 30px;
    height: 39px;
    background-position: -80px 0;
    }
.flaticon--spinner {
    width: 32px;
    height: 32px;
    background-position: 0 -66px;
    }
.flaticon--cross-bold {
    width: 30px;
    height: 30px;
    background-position: -42px -66px;
    }
.flaticon--post {
    width: 30px;
    height: 30px;
    background-position: -120px 0;
    }
.flaticon--upload-image {
    width: 30px;
    height: 30px;
    background-position: -120px -40px;
    }
.flaticon--stickypost {
    width: 30px;
    height: 30px;
    background-position: 0 -108px;
    }
.flaticon--repost {
    width: 30px;
    height: 29px;
    background-position: -40px -108px;
    }
.flaticon--settings {
    width: 27px;
    height: 27px;
    background-position: -82px -66px;
    }
.flaticon--logout {
    width: 30px;
    height: 27px;
    background-position: -80px -108px;
    }
.flaticon--security-private {
    width: 30px;
    height: 25px;
    background-position: -120px -108px;
    }
.flaticon--comment-view {
    width: 30px;
    height: 24px;
    background-position: -160px 0;
    }
.flaticon--security-friendgroups {
    width: 30px;
    height: 24px;
    background-position: -160px -34px;
    }
.flaticon--comment-add {
    width: 30px;
    height: 24px;
    background-position: -160px -68px;
    }
.flaticon--menu {
    width: 25px;
    height: 24px;
    background-position: -160px -102px;
    }
.flaticon--arrow-down {
    width: 16px;
    height: 23px;
    background-position: 0 -148px;
    }
.flaticon--arrow-up {
    width: 16px;
    height: 23px;
    background-position: -26px -148px;
    }
.flaticon--check {
    width: 30px;
    height: 21px;
    background-position: -52px -148px;
    }
.flaticon--discovery {
    width: 36px;
    height: 20px;
    background-position: -92px -148px;
    }
.flaticon--delete-repost {
    width: 16px;
    height: 18px;
    background-position: -120px -80px;
    }
.flaticon--share {
    width: 16px;
    height: 18px;
    background-position: -138px -148px;
    }
.flaticon--edit {
    width: 16px;
    height: 17px;
    background-position: -164px -148px;
    }
.flaticon--flag {
    width: 16px;
    height: 17px;
    background-position: -200px 0;
    }
.flaticon--cross {
    width: 16px;
    height: 16px;
    background-position: -200px -27px;
    }
.flaticon--comment-bold {
    width: 17px;
    height: 16px;
    background-position: 0 -181px;
    }
.flaticon--hide {
    width: 16px;
    height: 16px;
    background-position: -200px -53px;
    }
.flaticon--arrow-left-bold {
    width: 10px;
    height: 16px;
    background-position: -200px -79px;
    }
.flaticon--arrow-right-bold {
    width: 10px;
    height: 16px;
    background-position: -200px -105px;
    }
.flaticon--track {
    width: 16px;
    height: 16px;
    background-position: -200px -131px;
    }
.flaticon--favorite {
    width: 16px;
    height: 15px;
    background-position: -27px -181px;
    }
.flaticon--arrow-bottom-bold {
    width: 12px;
    height: 8px;
    background-position: -200px -157px;
    }
