html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

BODY {
  margin: 0;
  padding: 0;
  background: #FFF;
  font: 16px/1.4 ProximaNovaRegular, Helvetica, sans-serif;
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased; }

A:link {
  text-decoration: none;
  color: #00A3D9; }

A:visited {
  text-decoration: none;
  color: #5CB7D6; }

A:hover {
  color: #0086B3; }

A:active {
  color: #0086B3; }

.svgicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  visibility: inherit !important;
  pointer-events: auto !important;
  fill: currentColor; }

UL {
  margin: 0;
  padding: 0;
  list-style: none; }

figure {
  margin: 0; }

.entryunit {
  position: relative;
  margin: 0;
  padding: 1.5em 0;
  padding-right: 60px;
  border-bottom: 1px solid #DAE3E6;
  color: #242F33;
  *zoom: 1; }

.entryunit:after {
  content: "";
  display: table;
  border-collapse: collapse;
  clear: both; }

/* remove line on last element */
.entryunit:last-child {
  padding-bottom: 0;
  border-bottom: 0; }

/* meta */
.meta-entryunit {
  margin: 0 0 .3em;
  font-size: 14px;
  font-size: .875rem;
  letter-spacing: normal;
  color: #7A9199; }

/* items */
.meta-entryunit__items {
  margin: 0;
  padding: 0;
  list-style: none; }

.meta-entryunit__item {
  display: inline;
  margin: 0;
  padding: 0; }

.entryunit__date {
  position: relative;
  display: inline-block;
  margin: 0 1em .3em 0;
  padding: 0; }

/* restored entry (displayed entry from hidden user or readed entry) */
.entryunit-state-restored .entryunit__author, .entryunit-state-restored .entryunit__body, .entryunit-state-restored .entryunit__comments, .entryunit-state-restored .entryunit__date, .entryunit-state-restored .entryunit__head, .entryunit-state-restored .entryunit__label {
  -ms-filter: "alpha(Opacity=20)";
  opacity: 0.2; }

/* position */
.entryunit__position {
  position: absolute;
  right: 100%;
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0; }

.entryunit-state-topthree .position-entryunit__number {
  font-size: 1.2307em;
  font-weight: 700; }

/* changing the position of an entry */
.position-entryunit__number:after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background-repeat: no-repeat;
  position: absolute;
  right: 4px; }

.entryunit-state-up .position-entryunit__number:after {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20class%3D%22arrow--top%22%20viewBox%3D%220%200%206%206%22%3E%3Cpath%20d%3D%22M0%2C6%203%2C0%2C%206%2C6%22%20fill%3D%22rgb%28125%2C200%2C60%29%22/%3E%3C/svg%3E); }

.entryunit-state-down .position-entryunit__number:after {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20class%3D%22arrow--bottom%22%20viewBox%3D%220%200%206%206%22%3E%3Cpath%20d%3D%22M0%2C0%203%2C6%2C%206%2C0%22%20fill%3D%22rgb%28204%2C0%2C0%29%22/%3E%3C/svg%3E); }

/* label */
.labels-entryunit {
  display: inline-block; }

.labels-entryunit__item {
  display: inline-block;
  margin: 0 0.5rem 0.3rem 0;
  padding: 4px 10px;
  vertical-align: 1px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font: 11px/1 "ProximaNovaSemibold",Tahoma,Arial,sans-serif;
  color: #FFF; }

.labels-entryunit__item A {
  display: inline-block;
  margin: -2px -10px;
  padding: 2px 10px; }

.labels-entryunit__item A:link, .labels-entryunit__item A:visited, .labels-entryunit__item A:hover, .labels-entryunit__item A:active {
  text-decoration: none;
  color: #FFF; }

/* selfpromo */
.labels-entryunit__item--selfpromo {
  background: #FD8F40; }

.labels-entryunit__item--selfpromo:hover {
  background: #FF8126; }

/* mustread */
.labels-entryunit__item--mustread, .labels-entryunit__item--mustread:hover {
  background: #39BF71; }

/* commpromo */
.labels-entryunit__item--commpromo {
  background: #40AEFD; }

.labels-entryunit__item--commpromo:hover {
  background: #26A4FF; }

/* labels for selfpromo, commpromo, mustread */
.labels-entryunit__item {
  display: none; }

.entryunit--selfpromo .labels-entryunit__item--selfpromo, .entryunit--commpromo .labels-entryunit__item--commpromo, .entryunit--mustread .labels-entryunit__item--mustread {
  display: inline-block; }

/* author */
.entryunit__author {
  position: relative;
  display: inline-block;
  margin: 0 .3em .3em 0;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-family: ProximaNovaSemibold, Tahoma, Arial, sans-serif; }

.entryunit__author .i-ljuser-username B {
  font-weight: 400; }

.entryunit__author-wrotein {
  text-transform: none;
  letter-spacing: normal;
  font-family: ProximaNovaRegular, Helvetica, Arial, sans-serif; }

.entryunit__author .i-ljuser A:link, .entryunit__author .i-ljuser A:visited {
  color: #00A3D9; }

.entryunit__author .i-ljuser A:active, .entryunit__author .i-ljuser A:hover {
  color: #0086B3; }

/* comments in first meta */
.comments-entryunit {
  position: relative;
  display: inline-block;
  margin: 0 1em .3em 0;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-family: ProximaNovaSemibold, Tahoma, Arial, sans-serif; }

.comments-entryunit .svgicon {
  vertical-align: middle; }

.comments-entryunit A:link, .comments-entryunit A:visited {
  text-decoration: none;
  color: #00A3D9; }

.comments-entryunit A:active, .comments-entryunit A:hover {
  text-decoration: none;
  color: #0086B3; }

/* Footer Comments */
.actions-entryunit {
  margin-top: 10px; }

.actions-entryunit__item {
  display: block;
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
  font-family: ProximaNovaSemibold,Helvetica,sans-serif;
  font-size: .875em;
  letter-spacing: .05em;
  line-height: 33px; }

.actions-entryunit__item .svgicon {
  margin-right: 6px;
  vertical-align: middle; }

.stat-entryunit {
  display: inline-block;
  margin: 0 0 0 1em; }

.stat-entryunit__item {
  position: relative;
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0; }

.stat-entryunit__item:before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  padding: 0;
  vertical-align: -3px;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.stat-entryunit__item--friends:before {
  top: -2px;
  background-image: url(http://stat.ljdev5.livejournal.ru/img/userinfo_v3.svg), none; }

.stat-entryunit__item--posts:before {
  top: -2px;
  background-image: url(http://stat.livejournal.com/img/icons/posts-14.svg), none; }

/* promoblocks */
.b-ljpromo {
  margin: 0;
  padding: 1.5em 60px 1.5em 0;
  border-bottom: 1px solid #DAE3E6; }

/* container */
.b-ljpromo-container {
  position: relative;
  min-height: 1em;
  margin: 0;
  padding: 0; }

/* head */
.b-ljpromo-head {
  display: none;
  position: absolute;
  margin: 0;
  padding: 4px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: .05em;
  font: 11px/1 ProximaNovaSemibold, Tahoma, Arial, sans-serif;
  background: #FD8F4A;
  color: #FFF; }

.b-ljpromo-head A:active, .b-ljpromo-head A:hover, .b-ljpromo-head A:link, .b-ljpromo-head A:visited {
  margin: -4px -10px;
  padding: 4px 10px;
  color: #FFF; }

/* wrapper for carousel */
.b-ljpromo-wrapper {
  overflow: hidden;
  position: relative;
  height: 99px;
  margin: 0; }

/* items */
.b-ljpromo-items {
  margin: 0;
  padding: 0;
  list-style: none; }

.b-ljpromo-items:after {
  content: "";
  display: table;
  border-collapse: collapse;
  clear: both; }

/* item */
.b-ljpromo-item {
  margin: 0;
  padding: 0; }

.b-ljpromo .entryunit {
  height: 99px;
  margin: 0;
  padding-top: 0; }

.b-ljpromo .entryunit .entryunit-hide, .b-ljpromo .entryunit .entryunit-label, .b-ljpromo .entryunit .entryunit-position, .b-ljpromo .entryunit .entryunit-promoicon, .b-ljpromo .entryunit .entryunit-read, .b-ljpromo .entryunit .entryunit-topic, .b-ljpromo .entryunit .entryunit-updown, .b-ljpromo .entryunit .entryunit-video {
  display: none; }

.b-ljpromo .entryunit .entryunit-meta {
  overflow: hidden;
  position: relative;
  height: 21px; }

.b-ljpromo .entryunit .entryunit-head {
  overflow: hidden;
  position: relative;
  height: 27px; }

.b-ljpromo .entryunit .entryunit-body {
  overflow: hidden;
  position: relative;
  height: 42px; }

.b-ljpromo .entryunit .entryunit-body:before, .b-ljpromo .entryunit .entryunit-head:before, .b-ljpromo .entryunit .entryunit-meta:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 21px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
  text-align: right; }

.b-ljpromo .entryunit .entryunit-head:before {
  height: 27px; }

.b-ljpromo .entryunit .entryunit-body:before {
  height: 21px; }

/* more */
.b-ljpromo-more {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0; }

.s-content .b-ljpromo-more {
  margin: 0; }

.b-ljpromo-more-inner {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.b-ljpromo-more-inner-inner {
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center; }

/* emptiness */
.b-ljpromo-emptiness {
  display: none;
  margin: 0;
  padding: 1.7em 0 0; }

.b-ljpromo-emptiness H3 {
  margin: 0 0 .3rem;
  font: 1.733em/1 ProximaNovaLight, Helvetica, Arial, sans-serif; }

.b-ljpromo-emptiness P {
  margin: 0;
  font-size: 1em; }

/* nav */
.b-ljpromo-nav {
  position: absolute;
  right: -30px;
  width: 16px;
  height: 20px;
  display: none; }

/* hide without js */
#js .b-ljpromo-nav {
  display: block; }

.b-ljpromo-nav-prev {
  top: 40px; }

.b-ljpromo-nav-next {
  top: 0; }

.b-ljpromo-nav .entryunit-icon {
  display: block;
  top: 0;
  left: 0; }

/* promo stat */
.b-ljpromo-stat {
  margin: .3em 0 0;
  padding: 0;
  font-size: 14px;
  font-size: .875rem;
  letter-spacing: normal;
  color: #7A9199; }

/* selfpromo */
.b-ljpromo-selfpromo .b-ljpromo-head {
  background: #FD8F40; }

.b-ljpromo-selfpromo .b-ljpromo-head:hover {
  background: #FF8126; }

.b-ljpromo-selfpromo .entryunit .entryunit-label-selfpromo {
  display: inline-block; }

/* calendar promo */
.b-ljpromo-commpromo .b-ljpromo-head {
  background: #40AEFD; }

.b-ljpromo-commpromo .b-ljpromo-head:hover {
  background: #26A4FF; }

.b-ljpromo-commpromo .entryunit .entryunit-label-commpromo {
  display: inline-block; }

/* dummy preloader */
.b-ljpromo-dummy {
  display: none;
  margin: 0;
  background: url(http://stat.ljdev5.livejournal.ru/img/preloader/preloader-disc-blue-white-16.gif?v=39502) -900px 0 no-repeat; }

.b-ljpromo-dummy-meta {
  margin: 0 0 1rem;
  color: #859DA6; }

.b-ljpromo-dummy-promo {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 4px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font: 11px/1 ProximaNovaSemibold, Tahoma, Arial, sans-serif;
  background: #FD8F40;
  color: #FFF; }

.b-ljpromo-dummy-promo:hover {
  background: #FF8126; }

.b-mainpage .b-ljpromo-dummy-promo:active, .b-mainpage .b-ljpromo-dummy-promo:hover, .b-mainpage .b-ljpromo-dummy-promo:link, .b-mainpage .b-ljpromo-dummy-promo:visited {
  text-decoration: none;
  color: #FFF !important; }

.b-ljpromo-dummy-head {
  margin: 0 0 0.5rem; }

.b-ljpromo-dummy-body {
  margin: 0; }

.b-ljpromo-dummy-block {
  display: inline-block;
  margin: 0;
  padding: 0;
  background: #F8F8F8;
  -webkit-animation: loading 1s infinite;
  -moz-animation: loading 1s infinite;
  -o-animation: loading 1s infinite;
  animation: loading 1s infinite; }

@-webkit-keyframes loading {
  0% {
    background: #F8F8F8; }
  50% {
    background: #FBFBFB; }
  100% {
    background: #F8F8F8; } }
@-moz-keyframes loading {
  0% {
    background: #F8F8F8; }
  50% {
    background: #FBFBFB; }
  100% {
    background: #F8F8F8; } }
@-o-keyframes loading {
  0% {
    background: #F8F8F8; }
  50% {
    background: #FBFBFB; }
  100% {
    background: #F8F8F8; } }
@keyframes loading {
  0% {
    background: #F8F8F8; }
  50% {
    background: #FBFBFB; }
  100% {
    background: #F8F8F8; } }
.b-ljpromo-dummy-meta .b-ljpromo-dummy-block {
  width: 200px;
  height: 1em;
  vertical-align: -3px; }

.b-ljpromo-dummy-head .b-ljpromo-dummy-block {
  width: 200px;
  height: 2em; }

.b-ljpromo-dummy-body .b-ljpromo-dummy-block {
  display: block;
  width: 200px;
  height: 1em;
  margin-bottom: 0.4em; }

.b-ljpromo-dummy-body .b-ljpromo-dummy-block:first-child {
  width: 500px; }

/* hide left arrow (promo on start) */
#js .b-ljpromo-start .b-ljpromo-nav-prev {
  display: block; }

#js .b-ljpromo-start .b-ljpromo-nav-next {
  -ms-filter: "alpha(Opacity=30)";
  opacity: .3;
  pointer-events: none; }

/* hide right arrow (promo on end) */
/* hide items, show more link */
.b-ljpromo-end .b-ljpromo-items {
  visibility: hidden; }

.b-ljpromo-end .b-ljpromo-more {
  display: block; }

#js .b-ljpromo-end .b-ljpromo-nav-prev {
  -ms-filter: "alpha(Opacity=30)";
  opacity: .3;
  pointer-events: none; }

#js .b-ljpromo-end .b-ljpromo-nav-next {
  display: block; }

/* loading promo */
.b-ljpromo-loading .b-ljpromo-wrapper {
  min-height: 4em; }

.b-ljpromo-loading .b-ljpromo-nav-prev .entryunit-icon-prev {
  background: url(http://stat.ljdev5.livejournal.ru/img/preloader/preloader-disc-blue-white-16.gif?v=39502) 50% 50% no-repeat; }

/* with empty */
.b-ljpromo-loading .b-ljpromo-emptiness, .b-ljpromo-loading.b-ljpromo-empty .b-ljpromo-emptiness {
  display: none; }

#js .b-ljpromo-loading.b-ljpromo-empty .b-ljpromo-nav, .b-ljpromo-loading.b-ljpromo-empty .b-ljpromo-nav, .b-ljpromo-loading.b-ljpromo-empty .b-ljpromo-wrapper {
  display: block; }

/* preloading promo (switching locale) */
.b-ljpromo-preloading .b-ljpromo-stat {
  visibility: hidden; }

.b-ljpromo-preloading .b-ljpromo-dummy {
  display: block; }

#js .b-ljpromo-preloading .b-ljpromo-nav, .b-ljpromo-preloading .b-ljpromo-emptiness, .b-ljpromo-preloading .b-ljpromo-nav, .b-ljpromo-preloading.b-ljpromo-empty .b-ljpromo-emptiness {
  display: none; }

.b-ljpromo-preloading.b-ljpromo-empty .b-ljpromo-wrapper {
  display: block; }

/* empty promo */
.b-ljpromo-empty .b-ljpromo-emptiness, .b-ljpromo-empty .b-ljpromo-head {
  display: block; }

#js .b-ljpromo-empty .b-ljpromo-nav, .b-ljpromo-empty .b-ljpromo-nav, .b-ljpromo-empty .b-ljpromo-stat, .b-ljpromo-empty .b-ljpromo-wrapper {
  display: none; }

/* promo in shop */
.b-shop .b-ljpromo-selfpromo {
  margin: 2em 0;
  padding: 2em 0;
  border-top: 1px solid #DAE3E6; }

.b-shop .b-ljpromo-commpromo {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border-bottom: 0; }

/* head */
.entryunit__head {
  margin: 0 0 0.3em; }

.entryunit__title {
  margin: 0;
  padding: 0;
  font: 1.733em/1 ProximaNovaLight, Helvetica, Arial, sans-serif; }

.entryunit__title A:link {
  color: #242F33; }

.entryunit__title A:visited {
  color: #5CB7D6; }

.entryunit__title A:active, .entryunit__title A:hover {
  color: #00A3D9; }

.entryunit__userpic {
  float: left;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 25px; }

/* body */
.entryunit-body {
  margin: 0;
  padding: 15px 0;
  font-size: 1em;
  line-height: 1.4; }

.entryunit-body:after {
  content: "";
  display: table;
  border-collapse: collapse;
  clear: both; }

/* article */
.entryunit-article {
  margin: 0;
  line-height: 1.4; }

/* image */
.entryunit-article IMG {
  max-width: 100%;
  height: auto; }

/* thumbnail */
.entryunit-thumbnail {
  float: left;
  margin: 3px 1em .7em 0;
  padding: 0; }

.entryunit-thumbnail-pic {
  float: left;
  width: 100px;
  border: 0; }

/* photo */
.entryunit-photo {
  margin: 0 0 .7em; }

.entryunit-photo-pic {
  max-width: 100%;
  border: 0;
  vertical-align: top; }

/* panorama */
.entryunit-panorama {
  margin: 0 0 1em; }

.entryunit-panorama-pic {
  display: block;
  width: 100%;
  height: 360px;
  max-width: 900px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

/* video */
.entryunit-video {
  margin: 0; }

.entryunit-video IFRAME, .entryunit-video OBJECT, .entryunit-video EMBED {
  width: 100%;
  height: 360px;
  max-width: 900px; }

/* side controls (for communities catalogue) */
.entryunit-sidecontrols {
  margin: .3em 0 0;
  padding: 0;
  list-style: none;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: "ProximaNovaSemibold",Tahoma,Arial,sans-serif;
  font-size: .8125rem; }

.entryunit-sidecontrols-item {
  display: inline;
  margin: 0 1em 0 0;
  padding: 0; }

/* side likes (for communities catalogue) */
.entryunit-sidelikes {
  margin: .3em 0 0;
  padding: 0; }

.entryunit-sidelikes:after {
  content: "";
  display: table;
  border-collapse: collapse;
  clear: both; }

.entryunit-sidelikes-share {
  float: left;
  margin: 0 12px 0 0; }

.entryunit-sidelikes-share .b-flatsocial-share {
  display: block !important;
  font: 0/0 a !important; }

.entryunit-sidelikes-items {
  float: left; }

.entryunit-sidelikes-items .lj-like-item {
  margin-top: 0 !important; }

.thumbnail-entryunit {
  float: left;
  margin: 3px 1em .7em 0;
  padding: 0; }

.thumbnail-entryunit__pic {
  float: left;
  width: 100px;
  border: 0; }

.panorama-entryunit {
  margin: 0 0 1em; }

.panorama-entryunit__pic {
  display: block;
  width: 100%;
  height: 360px;
  max-width: 900px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.video-entryunit {
  margin: 0; }

.video-entryunit EMBED, .video-entryunit IFRAME, .video-entryunit OBJECT {
  width: 100%;
  height: 360px;
  max-width: 900px; }

/* In jornal or feed */
.entryunit__text {
  margin: 0;
  line-height: 1.4; }

.entryunit__text IMG {
  max-width: 100%;
  height: auto; }

.types-entryunit {
  float: left;
  margin: 0 5px 0 0; }

.types-entryunit__item {
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: middle;
  overflow: hidden; }

.likes-entryunit:after {
  content: "";
  display: table;
  border-collapse: collapse;
  clear: both; }

.likes-entryunit__item {
  float: left; }

.likes-entryunit__item--share {
  margin: 0 12px 0 0; }

.entryunit__tagscurrents {
  margin-top: 15px;
  font-size: .875em; }

.tagscurrents__list {
  margin: 0; }

.tagscurrents__item {
  margin: 0 0 7px;
  padding: 0;
  list-style: none;
  color: #333; }

.tagscurrents__label, .tagscurrents__content {
  display: inline;
  margin: 0; }

.tagscurrents__label {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-family: ProximaNovaSemibold,Tahoma, Arial, sans-serif;
  color: #7A9199; }

.controls-entryunit {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  margin: 0;
  padding: 0;
  border-left: 1px solid #DAE3E6;
  background: #F7F9FA; }

.entryunit:hover .controls-entryunit {
  display: block; }

/* Fix icons while scrolling page
not good enough
 */
.entryunit-scrolling {
  position: fixed;
  top: 0; }

.entryunit-scrolling-stop {
  position: absolute;
  top: auto;
  bottom: 0; }

/* Air: layout with sidebar on teh left side */
.j-p-layout-tw .controls-entryunit {
  border-width: 0 1px; }

/* Items */
.controls-entryunit__item {
  display: block;
  position: relative;
  width: 40px;
  height: 40px; }

.controls-entryunit__link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px; }

.controls-entryunit__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: auto; }

/* Tooltip */
.controls-entryunit__tooltip {
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  visibility: hidden;
  right: 40px;
  padding: 0 10px;
  line-height: 40px;
  background: #FFF;
  border: 1px solid #DAE3E6;
  white-space: nowrap; }

.controls-entryunit__tooltip:hover {
  color: #136480; }

.b-lenta-tiny-size .controls-entryunit__tooltip {
  font-size: 1em; }

.controls-entryunit__link:hover .controls-entryunit__tooltip {
  visibility: visible; }

/* Tooltip right corner */
.controls-entryunit__link:hover:after, .controls-entryunit__link:hover:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  z-index: 5;
  width: 0;
  height: 0;
  margin: auto;
  border: 5px solid transparent;
  border-left-color: #FFF; }

.controls-entryunit__link:hover:before {
  border-width: 7px;
  border-left-color: #DAE3E6; }

/* must read block */
.b-ljmustread {
  margin: 0;
  padding: 1.5em 0;
  border-bottom: 1px solid #DAE3E6; }

/* container */
/* head */
.b-ljmustread-head {
  display: none; }

/* wrapper */
.b-ljmustread .appwidget {
  margin: 0; }

.b-ljmustread .entryunit {
  margin: 0;
  padding: 0; }

.b-ljmustread .entryunit .entryunit-badge, .b-ljmustread .entryunit .entryunit-label, .b-ljmustread .entryunit .entryunit-position, .b-ljmustread .entryunit .entryunit-promoicon, .b-ljmustread .entryunit .entryunit-readhide, .b-ljmustread .entryunit .entryunit-topic, .b-ljmustread .entryunit .entryunit-updown {
  display: none; }

.b-ljmustread .entryunit .entryunit-label-mustread {
  display: inline-block; }

.b-ljmustread .entryunit .entryunit-author {
  margin-right: 1em; }

/* mustread hidden */
.b-ljmustread.b-ljmustread-hidden {
  display: none; }

@media all and (max-width: 1100px) {
  .entryunit-panorama-pic, .entryunit-video EMBED, .entryunit-video IFRAME, .entryunit-video OBJECT {
    height: 300px; } }
@media all and (max-width: 700px) {
  .entryunit-panorama-pic, .entryunit-video EMBED, .entryunit-video IFRAME, .entryunit-video OBJECT {
    height: 250px; } }
@media all and (max-width: 560px) {
  .entryunit-panorama-pic, .entryunit-video EMBED, .entryunit-video IFRAME, .entryunit-video OBJECT {
    height: 200px; } }
@media all and (max-width: 480px) {
  .entryunit-title {
    font-size: 1.5em; }

  .b-ljpromo .entryunit-title, .selfpromo-shop H3.entryunit-title {
    font-size: 1.5em;
    line-height: 2; }

  .entryunit-panorama-pic, .entryunit-video EMBED, .entryunit-video IFRAME, .entryunit-video OBJECT {
    height: 130px; } }

/*# sourceMappingURL=styles.css.map */
