.controls-entryunit {
    display: none;
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    margin: 0;
    padding: 0;
    border-left: 1px solid #DAE3E6;
    background: #F7F9FA;
    }

    .entryunit:hover .controls-entryunit {
        display: block;
        }

/* Fix icons while scrolling page
not good enough
 */
.entryunit-scrolling {
    position: fixed;
    top: 0
    }

    .entryunit-scrolling-stop {
        position: absolute;
        top: auto;
        bottom: 0
        }

/* Air: layout with sidebar on teh left side */
.j-p-layout-tw .controls-entryunit {
    border-width: 0 1px
    }

/* Items */
.controls-entryunit__item {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    }

    .controls-entryunit__link {
        display: block;
        position: relative;
        width: 40px;
        height: 40px
        }

    .controls-entryunit__icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 16px;
        height: 16px;
        margin: auto
        }

/* Tooltip */
.controls-entryunit__tooltip {
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    visibility: hidden;
    right: 40px;
    padding: 0 10px;
    line-height: 40px;
    background: #FFF;
    border: 1px solid #DAE3E6;
    white-space: nowrap;
    }

    .b-lenta-tiny-size .controls-entryunit__tooltip {
        font-size: 1em
        }

    .controls-entryunit__link:hover .controls-entryunit__tooltip {
        visibility: visible
        }

    /* Tooltip right corner */
    .controls-entryunit__link:hover:after,
    .controls-entryunit__link:hover:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        z-index: 5;
        width: 0;
        height: 0;
        margin: auto;
        border: 5px solid transparent;
        border-left-color: #FFF
        }
        .controls-entryunit__link:hover:before {
            border-width: 7px;
            border-left-color: #DAE3E6
            }
