/* author */
.author-entryunit {
    position: relative;
    display: inline-block;
    margin: 0 .3em .3em 0;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-family: ProximaNovaSemibold, Tahoma, Arial, sans-serif
    }
    .author-entryunit .i-ljuser-username B {
        font-weight: 400
        }
.author-entryunit__wrotein {
    text-transform: none;
    letter-spacing: normal;
    font-family: ProximaNovaRegular, Helvetica, Arial, sans-serif
    }
    .author-entryunit .i-ljuser A:link,
    .author-entryunit .i-ljuser A:visited {
        color: #00A3D9
        }
    .author-entryunit .i-ljuser A:active,
    .author-entryunit .i-ljuser A:hover {
        color: #0086B3
        }