/* body */
.entryunit-body {
    margin: 0;
    font-size: 1em;
    }
.entryunit-body:after {
    content: "";
    display: table;
    border-collapse: collapse;
    clear: both;
    }

    /* article */
    .entryunit-article {
        margin: 0;
        line-height: 1.4;
        }
        /* image */
        .entryunit-article IMG {
            max-width: 100%;
            height: auto;
            }

    /* thumbnail */
    .entryunit-thumbnail {
        float: left;
        margin: 3px 1em .7em 0;
        padding: 0;
        }
        .entryunit-thumbnail-pic {
            float: left;
            width: 100px;
            border: 0;
            }

    /* photo */
    .entryunit-photo {
        margin: 0 0 .7em;
        }
        .entryunit-photo-pic {
            max-width: 100%;
            border: 0;
            vertical-align: top;
            }

    /* panorama */
    .entryunit-panorama {
        margin: 0 0 1em;
        }
        .entryunit-panorama-pic {
            display: block;
            width: 100%;
            height: 360px;
            max-width: 900px;
            margin: 0;
            padding: 0;
            background-color: transparent;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            }

    /* video */
    .entryunit-video {
        margin: 0;
        }
        .entryunit-video IFRAME,
        .entryunit-video OBJECT,
        .entryunit-video EMBED {
            width: 100%;
            height: 360px;
            max-width: 900px;
            }

    /* side controls (for communities catalogue) */
    .entryunit-sidecontrols {
        margin: .3em 0 0;
        padding: 0;
        list-style: none;
        letter-spacing: .05em;
        text-transform: uppercase;
        font-family: "ProximaNovaSemibold",Tahoma,Arial,sans-serif;
        font-size: .8125rem;
        }
        .entryunit-sidecontrols-item {
            display: inline;
            margin: 0 1em 0 0;
            padding: 0;
            }

    /* side likes (for communities catalogue) */
    .entryunit-sidelikes {
        margin: .3em 0 0;
        padding: 0;
        }
    .entryunit-sidelikes:after {
        content: "";
        display: table;
        border-collapse: collapse;
        clear: both;
        }
        .entryunit-sidelikes-share {
            float: left;
            margin: 0 12px 0 0;
            }
            .entryunit-sidelikes-share .b-flatsocial-share {
                display: block !important;
                font: 0/0 a !important;
                }
        .entryunit-sidelikes-items {
            float: left;
            }
            .entryunit-sidelikes-items .lj-like-item {
                margin-top: 0 !important;
                }