/* body */
.entryunit__body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
    }
    .entryunit-body:after {
        content: "";
        display: table;
        border-collapse: collapse;
        clear: both;
        }