/* comments in first meta */
.comments-entryunit {
    position: relative;
    display: inline-block;
    margin: 0 1em .3em 0;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-family: ProximaNovaSemibold, Tahoma, Arial, sans-serif
    }
    .comments-entryunit .svgicon {
        vertical-align: middle;
        }
    .comments-entryunit A:link,
    .comments-entryunit A:visited {
        text-decoration: none;
        color: #00A3D9
        }
    .comments-entryunit A:active,
    .comments-entryunit A:hover {
        text-decoration: none;
        color: #0086B3
        }

/* Footer Comments */
.actions-entryunit {
    margin-top: 10px;
    }
    .actions-entryunit:after {
        content: "";
        display: table;
        width: 100%;
        clear: both;
        }
    .actions-entryunit__item {
        display: block;
        float: left;
        margin-right: 20px;
        text-transform: uppercase;
        font-family: ProximaNovaSemibold,Helvetica,sans-serif;
        font-size: .875em;
        letter-spacing: .05em;
        line-height: 33px;
        }
        .actions-entryunit__item .svgicon {
            margin-right: 6px;
            vertical-align: middle;
            }

