.j-e-types-item {
   background-repeat: no-repeat;
   background-image: url(http://stat.ljdev5.livejournal.ru/air/default_theme/img/sprite.png); /* IE7-8 */
   background-image: url(http://stat.ljdev5.livejournal.ru/air/default_theme/img/sprite.svg), none;
   }
.j-e-types {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: top;
    }
    .j-e-types-item {
        display: inline-block;
        width: 32px;
        margin: 0 5px 0 0;
        vertical-align: middle;
        text-indent: -1000px;
        overflow: hidden;
        }
    .j-e-type-security-private {
        width: 22px;
        height: 29px;
        background-position: 0 -320px;
        }
    .j-e-type-security-protected {
        width: 22px;
        height: 33px;
        background-position: -40px -320px;
        }
    .j-e-type-repost {
        width: 25px;
        height: 28px;
        background-position: -80px -320px;
        }
    .j-e-type-security-custom {
        width: 32px;
        height: 34px;
        background-position: -120px -320px;
        }
    .j-e-type-sticky {
        width: 28px;
        height: 33px;
        background-position: -160px -320px;
        }
