/* entryunit base */
.entryunit {
    position: relative;
    margin: 0;
    padding: 1.5em 0;
    padding-right: 60px;
    border-bottom: 1px solid #DAE3E6;
    color: #242F33;
    *zoom: 1;
    }
    .entryunit:after {
        content: "";
        display: table;
        border-collapse: collapse;
        clear: both
        }
    /* remove line on last element */
    .entryunit:last-child {
        padding-bottom: 0;
        border-bottom: 0
        }

/* meta */
.meta-entryunit {
    margin: 0 0 .3em;
    font-size: 14px;
    font-size: .875rem;
    letter-spacing: normal;
    color: #7A9199;
    }
    /* items */
    .meta-entryunit__items {
        margin: 0;
        padding: 0;
        list-style: none
        }
    .meta-entryunit__item {
        display: inline;
        margin: 0;
        padding: 0;
        }

/* date */
.entryunit__date {
    position: relative;
    display: inline-block;
    margin: 0 1em .3em 0;
    padding: 0;
    }

/* footer */
.entryunit__footer {
    clear: both;
    }

