.entryunit-icon {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    background: url(http://stat.ljdev5.livejournal.ru/img/icons/unit_v3.png?v=40336) no-repeat;
    font: 0/0 serif
    }
    .entryunit-icon-comments {
        width: 17px;
        background-position: 0 -17px
        }
    .entryunit-icon-up {
        background-position: 0 -34px
        }
    .entryunit-icon-down {
        background-position: 0 -51px
        }
    .entryunit-icon-settings {
        width: 27px;
        height: 27px;
        background-position: 0 -68px
        }
    .entryunit-icon-next {
        width: 16px;
        height: 20px;
        background-position: 0 -162px
        }
    .entryunit-icon-prev {
        width: 16px;
        height: 20px;
        background-position: 0 -183px
        }
    .entryunit-icon-lock {
        width: 20px;
        height: 20px;
        background-position: 0 -141px
        }
    .entryunit-icon-read {
        background-position: 0 -221px
        }
    .entryunit-icon-hide {
        background-position: 0 -204px
        }