/* images */
.thumbnail-entryunit {
    float: left;
    margin: 3px 1em .7em 0;
    padding: 0
    }
    .thumbnail-entryunit__pic {
        float: left;
        width: 100px;
        border: 0
        }
.panorama-entryunit {
    margin: 0 0 1em
    }
    .panorama-entryunit__pic {
        display: block;
        width: 100%;
        height: 360px;
        max-width: 900px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover
        }
.video-entryunit {
    margin: 0
    }
    .video-entryunit EMBED,
    .video-entryunit IFRAME,
    .video-entryunit OBJECT {
        width: 100%;
        height: 360px;
        max-width: 900px
        }

/* In jornal or feed */
.entryunit__text {
        }
    .entryunit__text IMG {
        max-width: 100%;
        height: auto
        }