/* label */
.entryunit-label {
    display: inline-block;
    margin: 0 0.5rem 0.3rem 0;
    padding: 4px 10px;
    vertical-align: 1px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font: 11px/1 "ProximaNovaSemibold",Tahoma,Arial,sans-serif;
    color: #FFF;
    }
   .entryunit-label A {
        display: inline-block;
        margin: -2px -10px;
        padding: 2px 10px;
        }
    .entryunit-label A:link,
    .entryunit-label A:visited,
    .entryunit-label A:hover,
    .entryunit-label A:active {
        text-decoration: none;
        color: #FFF;
        }

/* selfpromo */
.entryunit-label--selfpromo {
    background: #FD8F40;
    }
    .entryunit-label--selfpromo:hover {
        background: #FF8126;
        }
/* mustread */
.entryunit-label--mustread,
.entryunit-label--mustread:hover {
    background: #39BF71;
    }
/* commpromo */
.entryunit-label--commpromo {
    background: #40AEFD;
    }
    .entryunit-label--commpromo:hover {
        background: #26A4FF;
        }

/* labels for selfpromo, commpromo, mustread */
.entryunit-label {
    display: none;
    }
    .entryunit--selfpromo .entryunit-label--selfpromo,
    .entryunit--commpromo .entryunit-label--commpromo,
    .entryunit--mustread .entryunit-label--mustread {
        display: inline-block;
        }