/* label */
.labels-entryunit{
    display: inline-block;
    }
    .labels-entryunit__item {
        display: inline-block;
        margin: 0 0.5rem 0.3rem 0;
        padding: 4px 10px;
        vertical-align: 1px;
        border-radius: 10px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font: 11px/1 "ProximaNovaSemibold",Tahoma,Arial,sans-serif;
        color: #FFF;
        }
       .labels-entryunit__item A {
            display: inline-block;
            margin: -2px -10px;
            padding: 2px 10px;
            }
        .labels-entryunit__item A:link,
        .labels-entryunit__item A:visited,
        .labels-entryunit__item A:hover,
        .labels-entryunit__item A:active {
            text-decoration: none;
            color: #FFF;
            }

/* selfpromo */
.labels-entryunit__item--selfpromo {
    background: #FD8F40;
    }
    .labels-entryunit__item--selfpromo:hover {
        background: #FF8126;
        }

/* mustread */
.labels-entryunit__item--mustread,
.labels-entryunit__item--mustread:hover {
    background: #39BF71;
    }
/* commpromo */
.labels-entryunit__item--commpromo {
    background: #40AEFD;
    }
    .labels-entryunit__item--commpromo:hover {
        background: #26A4FF;
        }

/* labels for selfpromo, commpromo, mustread */
.labels-entryunit__item {
    display: none;
    }
    .entryunit--selfpromo .labels-entryunit__item--selfpromo,
    .entryunit--commpromo .labels-entryunit__item--commpromo,
    .entryunit--mustread .labels-entryunit__item--mustread {
        display: inline-block;
        }