/* label */
.label-entryunit {
    display: inline-block;
    margin: 0 0.5rem 0.3rem 0;
    padding: 4px 10px;
    vertical-align: 1px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font: 11px/1 "ProximaNovaSemibold",Tahoma,Arial,sans-serif;
    color: #FFF;
    }
   .label-entryunit A {
        display: inline-block;
        margin: -2px -10px;
        padding: 2px 10px;
        }
    .label-entryunit A:link,
    .label-entryunit A:visited,
    .label-entryunit A:hover,
    .label-entryunit A:active {
        text-decoration: none;
        color: #FFF;
        }

/* selfpromo */
.label-entryunit--selfpromo {
    background: #FD8F40;
    }
    .label-entryunit--selfpromo:hover {
        background: #FF8126;
        }
/* mustread */
.label-entryunit--mustread,
.label-entryunit--mustread:hover {
    background: #39BF71;
    }
/* commpromo */
.label-entryunit--commpromo {
    background: #40AEFD;
    }
    .label-entryunit--commpromo:hover {
        background: #26A4FF;
        }

/* labels for selfpromo, commpromo, mustread */
.label-entryunit {
    display: none;
    }
    .entryunit--selfpromo .label-entryunit--selfpromo,
    .entryunit--commpromo .label-entryunit--commpromo,
    .entryunit--mustread .label-entryunit--mustread {
        display: inline-block;
        }