/* LJUSER */
HTML BODY .i-ljuser {
    text-transform: uppercase;
    font-family: "ProximaNovaSemibold",sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    }
    /* spacing */
    HTML BODY .i-ljuser-username {
        letter-spacing: 0.05em;
        }
        /* remove font weight */
        HTML BODY .i-ljuser-username B {
            font-weight: 400;
            }
    /* userheads redesign (users and communities only) */
    HTML BODY .i-ljuser-type-P .i-ljuser-profile,
    HTML BODY .i-ljuser-type-C .i-ljuser-profile {
        display: inline-block;
        width: 16px !important;
        height: 16px !important;
        margin: 0 0.3em 0 0 !important;
        background-repeat: no-repeat;
        background-position: 0 0;
        }
        HTML BODY .i-ljuser-type-P .i-ljuser-userhead,
        HTML BODY .i-ljuser-type-C .i-ljuser-userhead {
            filter: alpha(opacity=0);
            opacity: 0;
            }
    /* user */
    HTML BODY .i-ljuser-type-P .i-ljuser-profile {
        background-image: url(http://stat.ljdev5.livejournal.ru/img/userinfo_v3.png?v=39106);
        background-image: url(http://stat.ljdev5.livejournal.ru/img/userinfo_v3.svg), none;
        }
    /* community */
    HTML BODY .i-ljuser-type-C .i-ljuser-profile {
        background-image: url(http://stat.ljdev5.livejournal.ru/img/community_v3.png);
        }
