/* media queries */
@media all and (max-width: 1100px) {
    .panorama-entryunit__pic,
    .video-entryunit EMBED,
    .video-entryunit IFRAME,
    .video-entryunit OBJECT {
        height: 300px
    }
}
@media all and (max-width: 700px) {
    .panorama-entryunit__pic,
    .video-entryunit EMBED,
    .video-entryunit IFRAME,
    .video-entryunit OBJECT {
        height: 250px
    }
}

 @media (max-width: 680px) {
    .entryunit {
        padding-right: 0;
        }

    .b-lenta-item-date {
        display: block
    }

    .entryunit__text {
        line-height: 1.5
        }

    .controls-entryunit {
        position: relative;
        display: block;
        width: 100%;
        margin-top: 15px;
        visibility: visible;
        background: #f8f9fb;
        border: 1px solid #DAE3E6;
        border-width: 1px 0;
        }

    .controls-entryunit__item {
        display: inline-block;
        }

    .controls-entryunit__link:after,
    .controls-entryunit__link:before,
    .controls-entryunit__tooltip {
        display: none
        }

    .j-e-scrolling-stop {
        bottom: auto
        }

    .j-e-scrolling {
        position: relative;
        top: auto
        }
}

@media all and (max-width: 560px) {
    .panorama-entryunit__pic,
    .entryunit-video EMBED,
    .video-entryunit IFRAME,
    .video-entryunit OBJECT {
        height: 200px
    }
}
@media all and (max-width: 480px) {
    .entryunit__title {
        font-size: 1.5em
        }
    .entryunit--promo .entryunit__title {
        font-size: 1.5em;
        line-height: 2
        }
    .panorama-entryunit__pic,
    .video-entryunit EMBED,
    .video-entryunit IFRAME,
    .video-entryunit OBJECT {
        height: 130px
    }
}