/* must read block */
.b-ljmustread {
    margin: 0;
    padding: 1.5em 0;
    border-bottom: 1px solid #DAE3E6
    }
    /* container */
    .b-ljmustread-container {
        }
        /* head */
        .b-ljmustread-head {
            display: none;
            }
        /* wrapper */
        .b-ljmustread-wrapper {
            }
            .b-ljmustread .appwidget {
                margin: 0
                }
            .b-ljmustread .entryunit {
                margin: 0;
                padding: 0
                }
                .b-ljmustread .entryunit .entryunit-badge,
                .b-ljmustread .entryunit .entryunit-label,
                .b-ljmustread .entryunit .entryunit-position,
                .b-ljmustread .entryunit .entryunit-promoicon,
                .b-ljmustread .entryunit .entryunit-readhide,
                .b-ljmustread .entryunit .entryunit-topic,
                .b-ljmustread .entryunit .entryunit-updown {
                    display: none
                    }
                .b-ljmustread .entryunit .entryunit-label-mustread {
                    display: inline-block
                    }
                .b-ljmustread .entryunit .entryunit-author {
                    margin-right: 1em
                    }
                /* mustread hidden */
                .b-ljmustread.b-ljmustread-hidden {
                    display: none
                    }