.entryunit-actions-items {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: ProximaNovaSemibold,Helvetica,sans-serif;
    font-size: .875em
}

.entryunit-actions-item {
    display: block;
    position: relative;
    float: left;
    height: 30px;
    margin-right: 20px;
    line-height: 30px
}

/*.entryunit-actions-item:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 26px;
    margin: auto;
    content: "";
    background: url(http://stat.livejournal.com/img/friendsfeed/sprite.svg) no-repeat;
    border: 1px solid green;
}*/



.entryunit-actions-item-comments,.entryunit-actions-item-reply {
    letter-spacing: .05em;
    text-transform: uppercase
    }

.entryunit-actions-item-comments-icon,
.entryunit-actions-item-reply-icon {
    position: absolute;
    left: 0;
    top: auto;
    display: block;
    height: 30px;
    color: #7A9199
    }

.entryunit-actions-item-icon .svgicon {
    width: 31px;
    height: 30px
    }

.entryunit-actions-item-text {
    padding: 0 6px
    }

/*.entryunit-actions-item-clear:before {
    content: none
    }

.entryunit-actions-item-comments:before {
    height: 30px;
    background-position: -40px 3px
    }

.entryunit-actions-item-comments:hover:before {
    background-position: -40px -37px
    }

.entryunit-actions-item-reply:before {
    height: 30px;
    background-position: -80px 3px
    }

.entryunit-actions-item-reply:hover:before {
    background-position: -80px -37px
}

.entryunit-actions-item-comments:before,
.entryunit-actions-item-reply:before {
    right: auto
}*/

.entryunit-actions-item A {
    position: relative
}

.entryunit-actions-item-comments A,
.entryunit-actions-item-reply A {
    display: block;
    position: relative;
    padding: 0 0 0 34px
}

.entryunit-actions-item A {
    display: block;
    position: relative;
    width: 40px;
    height: 40px
    }

.entryunit-actions-item A:hover:after,
.entryunit-actions-item A:hover:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    z-index: 5;
    width: 0;
    height: 0;
    margin: auto;
    border: 5px solid transparent;
    border-left-color: #FFF
    }

.entryunit-actions-item A:hover:before {
    border-width: 7px;
    border-left-color: #DAE3E6
    }

.entryunit-actions-tooltip {
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    visibility: hidden;
    right: 40px;
    padding: 0 10px;
    line-height: 40px;
    background: #FFF;
    border: 1px solid #DAE3E6;
    white-space: nowrap;
    font-size: 11px
    }

.b-lenta-tiny-size .j-e-actiongs-tooltip {
    font-size: 1em
}

.entryunit-actions-item A:hover .entryunit-actions-tooltip {
    visibility: visible
}