.b-mainpage .entryunit {
    padding-right: 60px;
    }

.b-entryunit-position {
        position: absolute;
        right: 100%;
        display: inline-block;
        margin: 0 1em 0 0;
        padding: 0
    }

    .b-entryunit-updown {
        display: none;
        position: absolute;
        top: 17px;
        right: -2px
        }

