 /* mark as read & hide author from rating */
.entryunit-readhide {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}
.entryunit-readhide .entryunit-readhide-link:link,
.entryunit-readhide .entryunit-readhide-link:visited,
.entryunit-readhide .entryunit-readhide-link:hover,
.entryunit-readhide .entryunit-readhide-link:active {
    color: #00A3D9;
    }
/* icon */
.entryunit-readhide .entryunit-readhide-icon {
    top: 50%;
    left: 50%;
    display: block;
    margin: -8px 0 0 -8px
}
/* title */
.entryunit-readhide-inner {
    position: absolute;
    top: 0;
    right: 40px;
    visibility: hidden;
    height: 28px;
    margin: 0;
    padding: 10px 8px 0;
    white-space: nowrap;
    border: 1px solid #DAE3E6;
    text-transform: none;
    background: #FFF;
    font-family: ProximaNovaRegular, Helvetica, Arial, sans-serif
}
.entryunit-readhide-inner:after, .entryunit-readhide-inner:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0;
    height: 0;
    border: solid transparent
}
.entryunit-readhide-inner:before {
    margin-top: -6px;
    border-color: transparent transparent transparent #DAE3E6;
    border-width: 6px
}
.entryunit-readhide-inner:after {
    margin-top: -5px;
    border-color: transparent transparent transparent #FFF;
    border-width: 5px
}
.entryunit-readhide-inner:hover {
    color: #136480
}
.entryunit-readhide:hover .entryunit-readhide-inner {
    visibility: visible
}

/* mark as read */
.entryunit-read {
    top: -1px
}
/* hide from rating */
.entryunit-hide {
    top: 39px
}
/* switch read and hide */
.entryunit-hide-show,
.entryunit-read-unread {
    display: none
}
/* hover */
.entryunit-hide, .entryunit-read {
    visibility: hidden
}
.entryunit:hover .entryunit-hide,
.entryunit:hover .entryunit-read,
.g-sensor .entryunit-hide,
.g-sensor .entryunit-read,
.mobile-msg .entryunit-hide,
.mobile-msg .entryunit-read {
    visibility: visible
}
