.stat-entryunit {
    display: inline-block;
    margin: 0 0 0 1em;
    }
    .stat-entryunit__item {
        position: relative;
        display: inline-block;
        margin: 0 1em 0 0;
        padding: 0;
        }
        .stat-entryunit__item:before {
            content: " ";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: 0 4px 0 0;
            padding: 0;
            vertical-align: -3px;
            background-repeat: no-repeat;
            background-position: 50% 50%
            }
        .stat-entryunit__item--friends:before {
            top: -2px;
            background-image: url(http://stat.ljdev5.livejournal.ru/img/userinfo_v3.svg), none
            }
        .stat-entryunit__item--posts:before {
            top: -2px;
            background-image: url(http://stat.livejournal.com/img/icons/posts-14.svg), none
            }