/* tagscurrents */
.tagscurrents-entryunit {
    margin-top: 15px;
    font-size: .875em;
    }
    .tagscurrents-entryunit__list {
        margin: 0;
        }
        .tagscurrents-entryunit__item {
            margin: 0 0 7px;
            padding: 0;
            list-style: none;
            color: #333;
            }
        .tagscurrents-entryunit__label,
        .tagscurrents-entryunit__content {
            display: inline;
            margin: 0;
            }
        .tagscurrents-entryunit__label {
            text-transform: uppercase;
            letter-spacing: .05em;
            font-family: ProximaNovaSemibold,Tahoma, Arial, sans-serif;
            color: #7A9199;
            }
