/* types */
.types-entryunit {
    float: left;
    margin: 0 5px 0 0;
    }
    .types-entryunit__item {
        display: inline-block;
        margin: 0 5px 0 0;
        vertical-align: middle;
        overflow: hidden;
        }