<menu class="entryunit-actions">
    <ul class="entryunit-actions-items">

        <li class="entryunit-actions-item entryunit-actions-item-js-lj-share">
            <a href="javasctipt:void(0)">
                <span class="entryunit-actions-icon entryunit-actions-item-js-lj-share">
                    <svg class="svgicon" style="pointer-events: none; visibility: hidden;">
                        <use xlink:href="#fi-share"></use>
                    </svg>
                </span>
                <span class="entryunit-actions-tooltip">Поделиться</span>
            </a>
        </li>

        <li class="entryunit-actions-item entryunit-actions-item-addmem">
            <a href="http://www.livejournal.com/tools/memadd.bml?journal=lj_releases&amp;itemid=89249">
                <span class="entryunit-actions-icon entryunit-actions-item-addmem">
                    <svg class="svgicon" style="pointer-events: none; visibility: hidden;">
                        <use xlink:href="#fi-favorite"></use>
                    </svg>
                </span>
                <span class="entryunit-actions-tooltip ng-binding">Добавить в избранное</span>
            </a>
        </li>

        <li class="entryunit-actions-item entryunit-actions-item-js-lj-share">
            <a href="javasctipt:void(0)">
                <span class="entryunit-actions-icon entryunit-actions-item-js-lj-share">
                    <svg class="svgicon" style="pointer-events: none; visibility: hidden;">
                        <use xlink:href="#fi-share"></use>
                    </svg>
                </span>
                <span class="entryunit-actions-tooltip">Поделиться</span>
            </a>
        </li>

        <li class="entryunit-actions-item entryunit-actions-item-track">
            <a href="http://www.livejournal.com/manage/subscriptions/entry.bml?journal=lj_releases&amp;amp;itemid=89249">
                <span class="entryunit-actions-icon entryunit-actions-item-track">
                    <svg class="svgicon" style="pointer-events: none; visibility: hidden;">
                        <use xlink:href="#fi-track"></use>
                    </svg>
                </span>
                <span class="entryunit-actions-tooltip">Отслеживать</span>
            </a>
        </li>

    </ul>
</menu>