<span class="entryunit__author author-entryunit">
    <span class="ljuser  i-ljuser  i-ljuser-type-P     " lj:user="test">
        <a href="http://test.ljdev5.livejournal.ru/profile" target="_self" class="i-ljuser-profile">
            <img class="i-ljuser-userhead ContextualPopup ContextualPopup ContextualPopup" src="http://www.ljdev5.livejournal.ru/img/user_vaginapagina.png?v=trunk">
        </a><a href="http://test.ljdev5.livejournal.ru/" class="i-ljuser-username" target="_self"><b>test</b></a>
    </span>— репост сделан
    <span class="ljuser  i-ljuser  i-ljuser-type-P     " lj:user="yokcel">
        <a href="http://yokcel.ljdev5.livejournal.ru/profile" target="_self" class="i-ljuser-profile">
            <img class="i-ljuser-userhead ContextualPopup ContextualPopup ContextualPopup" src="http://files.ljdev5.livejournal.ru/userhead/1?v=1336223488">
        </a><a href="http://yokcel.ljdev5.livejournal.ru/" class="i-ljuser-username" target="_self"><b>yokcel</b></a>
    </span>
</span>
